.setter-body,
.player-one,
.player-two {
  font-size: 2.4rem;
  border: 1px solid black;
  max-width: 20rem;
}
.brown-setter,
.player-one-brown,
.player-two-brown {
  color: brown;
}
.green-setter,
.player-one-green,
.player-two-green {
  color: green;
}
.silver-setter,
.player-one-silver,
.player-two-silver {
  color: silver;
}
.blue-setter,
.player-one-blue,
.player-two-blue {
  color: blue;
}

.red-setter,
.player-one-red,
.player-two-red {
  color: red;
}

.active-player {
  background-color: #eee;
}

/* cards */
.card-row {
  display: flex;
}

.card-box {
  border: 1px solid black;
  max-width: 12rem;
}
