/* across the whole project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: bold;
}
/* for players one and two and the setters */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setter-body,
.player-one,
.player-two {
  font-size: 1.4rem;
  border: 1px solid black;
  max-width: 20rem;
  display: grid;
  flex-direction: column;
  border-radius: 5%;
  margin-bottom: 0.2rem;
  margin-top: 0.8rem;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.menu-item:visited,
.menu-item:link {
  transition: all, 0.5s;
}
.menu-item:hover,
.menu-item:active {
  background-color: black;
  color: white;
  transition: all, 0.5s;
}

.setter-body {
  padding: 0rem 2.4rem;
}

.brown-setter,
.green-setter,
.silver-setter,
.blue-setter,
.red-setter {
  font-weight: 400;
  transition: 0.5s;
}

.brown-setter:hover,
.green-setter:hover,
.silver-setter:hover,
.blue-setter:hover,
.red-setter:hover {
  font-weight: bold;
}

.brown-setter,
.player-one-brown,
.player-two-brown {
  color: brown;
}
.green-setter,
.player-one-green,
.player-two-green {
  color: green;
}
.silver-setter,
.player-one-silver,
.player-two-silver {
  color: silver;
}
.blue-setter,
.player-one-blue,
.player-two-blue {
  color: blue;
}

.red-setter,
.player-one-red,
.player-two-red {
  color: red;
}

.active-player {
  background-color: #eee;
}

.player-one,
.player-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.player-one-score,
.player-two-score {
  font-size: 6.4rem;
}
/* division of board */
.column-labels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  /* text-align: center; */
  margin: 2.4rem 0rem;
  font-size: 2.4rem;
}

/* cards */
.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  flex-direction: column;
}

.card-box {
  border: 1px solid black;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  border-radius: 25%;
  justify-content: center;
  text-align: right;
  transition: box-shadow 0.5s;
  margin-bottom: 0.8rem;
  height: 9.6rem;
}

.card-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-container {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.brown-box-color {
  background-color: sienna;
}
.blue-box-color {
  background-color: lightblue;
}
.silver-box-color {
  background-color: silver;
}
.green-box-color {
  background-color: lightgreen;
}
.red-box-color {
  background-color: lightcoral;
}

.card-point-value {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 1.2rem;
}

.purchase-btn {
  font-size: 0.8rem;
  max-width: 4rem;
  margin-left: 2.8rem;
}

.hidden,
.hidden1,
.hidden2 {
  display: none;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
}
.card-value {
  margin-right: 0.8rem;
}
/* winner tab */
.winner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* help page */
.heading-how-to {
  font-size: 6.4rem;
  font-family: Roboto;
  text-align: center;
}

.rule-text {
  font-size: 2.4rem;
  margin: 6.4rem;
  text-align: center;
  line-height: 150%;
}

/* rule images */

.rule-img {
  border: 1px solid black;
  margin-top: 3.2rem;
}
