* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setter-body,
.player-one,
.player-two {
  font-size: 1.4rem;
  border: 1px solid black;
  max-width: 20rem;
  display: grid;
  flex-direction: column;
}
.menu {
  display: flex;
  flex-direction: column;
}

.brown-setter,
.player-one-brown,
.player-two-brown {
  color: brown;
}
.green-setter,
.player-one-green,
.player-two-green {
  color: green;
}
.silver-setter,
.player-one-silver,
.player-two-silver {
  color: silver;
}
.blue-setter,
.player-one-blue,
.player-two-blue {
  color: blue;
}

.red-setter,
.player-one-red,
.player-two-red {
  color: red;
}

.active-player {
  background-color: #eee;
}

.player-one,
.player-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.player-one-score,
.player-two-score {
  font-size: 6.4rem;
}

/* cards */
.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  flex-direction: column;
}

.card-box {
  border: 1px solid black;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  border-radius: 25%;
  justify-content: center;
  text-align: center;
}

.card-container {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.brown-box-color {
  background-color: brown;
}
.blue-box-color {
  background-color: blue;
}
.silver-box-color {
  background-color: silver;
}
.green-box-color {
  background-color: green;
}
.red-box-color {
  background-color: red;
}

.card-point-value {
  font-size: 1.2rem;
}

.purchase-btn {
  font-size: 0.8rem;
  max-width: 4rem;
  margin-left: 3rem;
}
